/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
  }
  
  h1, h2, h3 {
    color: #343a40;
  }
  
  .card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.02);
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  